__pycache__
runs/
models/*.pt
models/*.ptl
models/*.onnx
models/*.pb
models/best_web_model/
models/best_openvino_model/
models/best_saved_model/
*_web_model/
*_saved_model/
*_openvino_model/
*.pb
*.txt
*.png
*.jpg
*.npy
*.xml
*.mlmodel
*.pt
*.pth
*.onnx
*.tflite
*.mp3
*.mp4
*.zip
*.rar
*.tar

TrainRes/train
TrainRes/val
tre.py
build/
wandb/
TrainRes/
coco128/
coco/
venv/
.idea
detect_or_track.py
sort.py
